/* ====================== General */

body {
	background-color: #e6ecf0;
}

body.error-404 {
	background-color: #1da1f2;
}

.form-control {
	margin-bottom: 20px;
}

.btn {
	border-radius: 50px;
}

.btn:hover {
	cursor: pointer;
}

/* ======================= Nav */

.navbar {
	background-color: rgb(4, 172, 74);
	height: 46px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	position: relative;
	z-index: 9999;
}

.navbar a {
	color: white;
	font-size: 13px;
	font-weight: bold;
}

.navbar a:hover {
	color: #1c94e0;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand span {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif, 'Arial Narrow', Arial, sans-serif;
	font-size: 16px;
}
.navbar-brand > img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 20px;
	border-radius: 2px;
}

.navbar-brand span {
	margin: 5px;
}
.nav > li > a > img {
	width: 32px;
	border-radius: 32px;
}

ul.nav.navbar-nav {
	align-items: center;
}

ul.nav.navbar-nav li {
	margin: 0 0.5rem;
	display: flex;
}

nav form.navbar-form {
	display: flex;
	position: relative;
}

/* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

.onboarding > .navbar {
	background-image: url("/static/images/nav-bg.png");
	background-size: 100% 100%;
}

.onboarding .navbar-header {
	margin: 0 auto;
}

.onboarding .navbar-brand {
	margin: 0;
}

.onboarding .navbar-brand span {
	display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
	position: absolute;
	right: 16px;
}

.onboarding > .navbar a {
	color: #fff;
}

.onboarding > .navbar form.navbar-form {
	display: none;
}

.onboarding {
	background-color: #fff;
}

nav + .container {
	margin-bottom: 1rem;
}

/* ===================== User profile */

.join-message {
	margin-top: 100px;
}

/* ============================ Home background */

.home-meal {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: scroll;
	left: 0;
	z-index: -1;
	background-image: url("/static/images/delicious-meal-home-bg.jpg");
	background-size: cover;
	background-position: center center;
	color: rgb(26, 23, 23);
	text-align: center;
	padding: 1rem;
	text-shadow: 0 0 8px #66757f;
}

.container-home-header {
	top: 130px;
	left: 200px;
	position: absolute;
	display: inline-block;
	justify-items: left;
}

/* ============================== Show User */
.user-header {
	top: 100px;
	position: absolute;
	display: inline-block;
}
/* =========================== Edit Page */

.edit-btn-area {
	display: flex;
	justify-content: space-between;
}

.edit-btn-area > .btn {
	width: 48%;
}

/* ================================ Home Recipes */

.list-group {
	display: inline-block;
	width: 300px;
}

.h3 {
	display: inline-block;
}

#search_result {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-flow: column wrap;
	flex-direction: row;
	align-items: flex-start;
	align-content: flex-start;
}

.col-sm {
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgb(71, 71, 71);
	width: 350px;
	height: auto;
	margin: 15px;
	padding: 15px;
	order: 3;
	flex-basis: auto;
	flex-grow: 2;
	flex-shrink: 3;
	background: white;
	align-items: center;
	min-width: 40%;
}

.default-image {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

/* ================================ Recipes Page */

.col-sm-recipe {
	border-radius: 10px;
	box-shadow: 0px 5px 20px rgb(71, 71, 71);
	width: 350px;
	height: auto;
	margin: 15px;
	padding: 15px;
	order: 3;
	flex-basis: auto;
	flex-grow: 2;
	flex-shrink: 3;
	background: white;
	align-items: center;
	min-width: 40%;
}

.col-sm-recipe li {
	text-align: left;
}

.container-recipe-header {
	height: auto;
	margin-top: 230px;
	margin-bottom: 20px;
	padding: 15px;
	min-height: 40%;
	align-items: center;
}
